.baloon { position: absolute;
    width: 200px;
    margin-top: 110px;
    margin-left: 250px;
}

.bowser {
    position: absolute;
    width: 250px;
    z-index: 2;
    margin-top: 150px;
    margin-left: 450px;

}

.goomba {
    position: absolute;
    width: 150px;
    margin-top: 250px;
    margin-left: 50px;
    z-index: inherit;

}

.word {
    position: absolute;
    margin-left: 270px;
    margin-top: 155px;
    z-index: 3;
}

.super-mario {
    margin: 40px 50px;
    position: absolute;
    width: 150px;
    z-index: 1
}
